.actrc
.dockerignore
.editorconfig
.env
.git*
.phpunit.result.cache
bootstrap/cache/**
Dockerfile
docker-compose.yml
docs
node_modules
phpunit.xml
README.md
storage/app/**
storage/framework/cache/**
storage/framework/sessions/**
storage/framweork/testing/**
storage/framework/views/**
storage/logs/**
tests
vendor
